{% extends "userBase.html" %}

{% block userContent %}
<style>
    .label {
        border-top-right-radius: 0px; 
        border-bottom-right-radius: 0px;
        width: 10rem;
    }

    .in {
        width: 37rem !important;
    }

    .changeButton {
        background-color: #0aee3b;
        padding: .375rem .75rem;
        border-radius: .375rem;
        border: rgba(0,0,0,.175);
        color: white;
    }
</style>

<form action="/user/details" method="POST"> 
    <div class="card" style="width: fit-content; padding-right: 2vw; padding-left: 2vw; margin:.5vw; height: fit-content;">
        <div class="card-body">
            <div>
                <h1>Your Account</h1>
                <p>To change account details, remove the value in the box and replace it with the new value and enter your current password as verification</p>

                <!-- Enter Password Box -->
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="label input-group-text" style="width: auto;">Password</span>
                    </div>
                    <input type="password" class="form-control" aria-label="Password" 
                    placeholder="Password" style="max-width: 15rem;" id="password" name="password"
                    required = "true">
                </div>
                <p style="font-size: 13px; color:#909090; position:relative; left: .5rem">Please enter your password to change your details</p>

                <!-- Username Input Box -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="label input-group-text">Username</span>
                    </div>
                    <input type="text" class="form-control in" aria-label="Username" 
                    value="{{ current_user }}" id="username" name="username" required="true">
                </div>

                <!-- Email Input Box -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="label input-group-text">Email</span>
                    </div>
                    <input type="email" class="form-control in" aria-label="Email" 
                    value="{{ data[0][2] }}" id="email" name="email" required="true">
                </div>

                <!-- New Password Input Box -->
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="label input-group-text">New Password</span>
                    </div>
                    <input type="password" class="form-control in" aria-label="Password" 
                    placeholder="New Password" id="newPassword" name="newPassword" minlength="8">
                </div>
                <p style="font-size: 12px; color: #AAAAAA;">Your password must contain at least 8 charcters.</p>

                <!-- Confirm Password Input Box -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="label input-group-text">Confirm Password</span>
                    </div>
                    <input type="password" class="form-control in" aria-label="Password" 
                    placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" minlength="8">
                </div>

                <!-- Button to change -->
                <div style="display: flex; justify-content:right;">
                    <button class = "changeButton" type="submit" style="position: relative; right: 2rem">Change</button>
                </div>
            </div>

            <hr>

            <div>
                <h4>Account Deletion</h6>
                <a href="/user/delete" class="btn btn-danger mt-1 mx-3">Delete Account</a>
            </div>
        </div>
    </div>
</form>

{% endblock %}