{% extends "base.html"%}

{%  block content %}
<!-- home.html -->

<html>
    <h1 style="text-align: center;">Welcome to this basic website</h1>
</html>

<div class="main-container" style="background-color: white; height: 40rem;">
    <div class="text-container" style="color: black; position: relative; top: 10rem; width: 40rem; display: flex; gap: 1rem; flex-direction: column; right: -10rem;">
        <h1 style="font-size: 4rem">basic website</h1>
        <h3>this is a basic website to show the how to make a simple website.</h3>
    </div>
</div>

{%  endblock content %}