{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
     <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
  {% endfor %}
{% endif %}
{% endwith %}

<h1 style="text-align: center;">Register</h1>

<div class = 'container' style="padding-top: 7rem;">
    <form action = '/register' method = 'POST'>

        <!-- Username Input -->
        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <p><input type = "text" id = "Username" name = "Username" class="form-control" required="true"></p>
        </div>

        <!-- Email Input -->
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <p><input type = "email" id = "Email" name = "Email" class="form-control" minlength="3" required="true"></p>
        </div>

        <!-- Password Input -->
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <p><input type = "password" id = "Password" name = "Password" class="form-control" minlength="8" required="true"></p>
            <p style="font-size: 12px; color: #AAAAAA;">Your password must contain at least 8 charcters.</p>
        </div>

        <!-- Confirm Password Input -->
        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
            <p><input type = "password" id = "ConfirmPassword" name = "ConfirmPassword" class="form-control"></p>
        </div>

        <!-- Submit Button -->
        <p><input type = "submit" id = "Submit" name = "Submit" class="btn btn-primary"></p>

        <!-- Link to login page -->
        <p>Already have a account? Login <a href="/login">here</a>!</p>

    </form>
</div>

<div class="main-container" style="background-color: white; height: 5rem;"></div>
{% endblock %}